@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
    font-family: 'Work Sans', sans-serif;
}

.ctr {

     @apply container mx-auto px-4 px-8 ;
   
}






/* hot news scrollbar */
#hot-news-slider .swiper-scrollbar {
    display: block !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #f2f2f7;
}

#hot-news-slider .swiper-scrollbar .swiper-scrollbar-drag {
    @apply !w-14 !bg-cc-primary

}

